.detail_info_item {
    display: flex;
    gap: 16px;
    background-color: var(--light-grey-2);
    border-radius: 20px;
    padding: 16px;
    align-items: center;
}

.card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--light-grey-3);
}

.icon_block_title {
    line-height: 23px;
    font-size: var(--font-size-text20);
    font-weight: 400;
    color: var(--grey);
}

.icon_block_text {
    color: var(--light-grey-1);
    line-height: 16.1px;
    font-size: var(--font-size-text14);
}

.detail_info_desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
}